{% extends "layout.html" %}
{% block body %}
<!------------Main Site--------->
<section>
    <div class="container">
        <h1 class="heading">Family members</h1>
        <div class="card-wrapper">
            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/hiteshbhai.png') }}" alt="profile image" class="profile-img">
                <h1>Dr.Hitesh Patel</h1>
                <p class="job-title">Doctor(M.B.B.S)</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background-2.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/jalpabhabhi.png') }}" alt="profile image" class="profile-img">
                <h1>Dr.Japla Patel</h1>
                <p class="job-title">Doctor(physiotherapist)</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background-2.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/jignasha.png') }}" alt="profile image" class="profile-img">
                <h1>Jignasha Amin</h1>
                <p class="job-title">User Interface Designer</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/niravjiju.png') }}" alt="profile image" class="profile-img">
                <h1>Nirav Amin</h1>
                <p class="job-title">Salesforce Administrator</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/bhaveshbhai.png') }}" alt="profile image" class="profile-img">
                <h1>Bhavesh Patel</h1>
                <p class="job-title">Mechanical Engineer</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background-2.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/palak.png') }}" alt="profile image" class="profile-img">
                <h1>Palak Patel</h1>
                <p class="job-title">Accounting Manager</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/ronakjiju.png') }}" alt="profile image" class="profile-img">
                <h1>Ronak Patel</h1>
                <p class="job-title">IT Professional</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/bhavik.png') }}" alt="profile image" class="profile-img">
                <h1>Bhavik Patel</h1>
                <p class="job-title">Manager</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/lav.png') }}" alt="profile image" class="profile-img">
                <h1>Lav Patel</h1>
                <p class="job-title">Mechanical Design Engineer</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background-2.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/zalak.png') }}" alt="profile image" class="profile-img">
                <h1>Zalak Patel</h1>
                <p class="job-title">Personal Care Worker</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/ankitjiju.png') }}" alt="profile image" class="profile-img">
                <h1>Ankit Patel</h1>
                <p class="job-title">Dominos Shift Runner</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/parth.png') }}" alt="profile image" class="profile-img">
                <h1>Parth Patel</h1>
                <p class="job-title">Computer Engineering Student</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/smit.png') }}" alt="profile image" class="profile-img">
                <h1>Smit Patel</h1>
                <p class="job-title">Automobile Engineering Student</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/pinaksh.png') }}" alt="profile image" class="profile-img">
                <h1>Pinaksh Patel</h1>
                <p class="job-title">Student</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/mahin.png') }}" alt="profile image" class="profile-img">
                <h1>Mahin Amin</h1>
                <p class="job-title">Student</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/namay.jpeg') }}" alt="profile image" class="profile-img">
                <h1>Namay Amin</h1>
                <p class="job-title">None</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='./assets/card-background.jpg') }}" alt="card background" class="card-img">
                <img src="{{ url_for('static', filename='./assets/members/Nilaksh.jpeg') }}" alt="profile image" class="profile-img">
                <h1>Nilaksh Patel</h1>
                <p class="job-title">None</p>
                <p class="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti corrupti perspiciatis!
                </p>
                <a href="#" class="btn">Details</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!----x-------Main Site----x---->
{% endblock %}